# Config
.env

# Asus DNS
asus_dns/ssh

# Caddy
caddy/Caddyfile
caddy/config
caddy/data
caddy/logs

# Grafana
grafana/config.monitoring

# Jellyfin
jellyfin/config

# Media
media

# torrent
torrent

# Wireguard Server
wireguard_server/config
