# Config
.env

# Asus DNS
asus_dns/ssh

# Caddy
caddy/Caddyfile
caddy/config
caddy/data
caddy/logs

# VSCode
code/config

# Grafana
grafana/config.monitoring

# Jellyfin
jellyfin/config

# Media
media

# torrent
torrent

# mqtt
mqtt/data
mqtt/log

# zigbee2mqtt
zigbee2mqtt

# Home Assistant
homeassistant

# Wireguard Server
wireguard_vps/config/*
!wireguard_vps/config/wg0.conf.template

# FileBrowser
filebrowser/database
