# Config
.env

# Actual
actual/data/

# Backup
backup/config/
backup/data/

# Caddy
caddy/Caddyfile
caddy/config/
caddy/data/
caddy/logs/

# Home Assistant
homeassistant/

# VSCode
code/config/

# ESPHome
esphome/

# Frigate
frigate/

# Grafana
grafana/config.monitoring
grafana/data/
prometheus/config/prometheus.yml
prometheus/data/

# Jellyfin
jellyfin/config/

# Media
media/

# torrent
torrent/

# mqtt
mqtt/data/
mqtt/log/

# Wireguard Server
wireguard*/

# zigbee2mqtt
zigbee2mqtt/
