*.%DOMAIN% {
	tls %LETS_ENCRYPT_EMAIL%
	tls {
		dns cloudflare %CLOUDFLARE_API%
	}

	@unifi host unifi.%DOMAIN%
	handle @unifi {
		reverse_proxy {
			to unifi:8443
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@pihole host pihole.%DOMAIN%
	handle @pihole {
		reverse_proxy {
			to pihole:80
		}
		redir / /admin/
	}

	log {
		output file /var/log/caddy/access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 24h
		}
	}
}
