[Unit]
Description=Refreshes eth0 with dhclient
Wants=dhclient-refresh.timer

[Service]
ExecStart=sudo dhclient eth0
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
