[Unit]
Description=Run dhclient-refresh every 30 minutes
Requires=dhclient-refresh.service

[Timer]
Unit=dhclient-refresh.service
OnUnitInactiveSec=30m
AccuracySec=1s

[Install]
WantedBy=timers.target
